main{
    display: flex;
    justify-content: center;
    padding: 3.5em 2.5em ;
    height: 100vh;
    background-image: url("../images/img-background-main-section.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.video-container {

    max-width: 54%;
    width: 54%;
    object-fit: contain;
    object-position: bottom;
    height: fit-content;
    max-height: fit-content;
    
}

.video-container {
    box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
    -webkit-box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
    -moz-box-shadow: 0px 13px 28px 0px var(--Bluecolor30);

}
.overlay{
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(74, 103, 138, 0.7);
}
.main__container{
    padding-right: 1em;
    width: 100%;
    z-index: 3;
    margin: auto 0;
}

.main__container h1{
    font-size: 3.22rem;
    color: white;
    font-family: var(--title);
    margin-bottom:.5em ;
}

.main__container p{
    font-size: 1rem;
    font-family: var(--texts );
    margin-bottom: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
.form{
    padding: .5em;
    border: 1px var(--WhiteText) solid;
    margin-top: 2.5em;
}
.main__container .form__label{
    font-size: 1em;
    font-family: var(--texts );
    margin-bottom: 2em;
}

.form__input{
    padding-left: 3em;
    background-color: var(--WhiteText);
    border: none;
    width: 100%;
}

.form__submit{
    padding: 1em;
    background-color: var(--BluecolorDark);
    border: none;
    color:var(--WhiteText);
    font-size: 1.1em;
    font-weight: bold;
    
}

.form__input::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--BluecolorDark);
    font-family: var(--texts);
    font-weight: bold;
}

.alingCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_arrow{
    margin-bottom: 4em;
    
}

.btn_arrow a{
    animation-name: pulso;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}



@media screen and (max-width:769px) {
    .main{
        flex-direction: column-reverse;
        align-items: center;
    }

    .video-container {
        max-width: 100%;
        width: 100%;
        margin-bottom: 2em;
    }
    main form{
       
        box-sizing: border-box;
        flex-direction: column;
    }
    .form__input{
        padding: 1em;
        box-sizing: border-box;
        flex-direction: column;
    }
}

@keyframes pulso {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.2);
    }
}

@media screen and (max-width:480px) {
    .main__container h1{
        font-size: 2.3rem;
    }
}